/*
	AUTHORS:     Tyler Kramer, Johnny Duong, Lilly Schmidt, Shan Sindy, Yarely Torres
	FILE:        CLUE.css
	DESCRIPTION: This file contains the CSS code for the CLUE website.
*/

body {
	/* Placeholder */
}

.downloadBlock h1 {
	text-align: center;
}

#TOC {
	list-style-type: none;
}

#TOC li {
	margin: 10px;
}

#unit {
	margin-left: 25px;
}

.story {
	margin-bottom: 40px;
	overflow: auto;
}

.story img {
	width: 100px;
	float: left;
	margin-right: 20px;
	object-fit: cover;
}
