/*
	AUTHORS:     Tyler Kramer, Johnny Duong, Lilly Schmidt, Shan Sindy, Yarely Torres
	FILE:        CLUE.css
	DESCRIPTION: This file contains the CSS code for the CLUE website.
*/

body {
	/* Placeholder */
}

.downloadBlock h1 {
	text-align: center;
}

#TOC {
	list-style-type: none;
}

#TOC li {
	margin: 10px;
}
