/*
	AUTHORS:     Tyler Kramer, Johnny Duong, Lilly Schmidt, Shan Sindy, Yarely Torres
	FILE:        CLUE.css
	DESCRIPTION: This file contains the CSS code for the CLUE website.
*/

body {
	/* Placeholder */
}
